@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --font01: 'Passion One',Arial, sans-serif;
    --font02:'Sriracha', 'cursive';
}

*{
     margin: 0px;
     padding: 0px;     
}


p{
    font-family: var(--font02);
    font-size: 3em;
    padding-left:20px;
    margin: 0px;
    
}

a{
    color: white;
    text-decoration: none;
}

header{
    text-align: center;
    background-color: black;
    color: white;
    
}

header h1{
    font-family: var(--font01);
    font-weight: bold;
    font-size: 3em;  
    padding-top: 50px;  
    text-transform: uppercase;       
}        

header p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding-bottom: 50px;
}

header a:hover{
    text-decoration: underline;

}

main{
    background-color: white;
    margin: 70px 0px 100px;
}   

main > div.fundo-branco{

}

main section.fundo-img1{
    background-image:url(imagens/background001.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 3px;
}

main section.fundo-img2{
    background-image:url(imagens/background002.jpg) ;    
    background-attachment: fixed;
    color: white;
    padding: 3px;
    overflow: auto;
}

.fundo-preto-transparente{
    background-color: black;
    width:600px ;    
    margin: 50px 15px;   
    
    
}

.fundo-preto-transparente p{
    padding: 3px;
}


footer > p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1em;
    background-color: black;
    color: white;
    padding: 15px;
}